@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

body {
    margin: 0;
    border: 0;
    /* background-color: lightskyblue; */
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* html {
    scroll-behavior: smooth;
} */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .App {
        padding: 10px; /* Add padding for smaller screens */
    }
}
